$bg-collor: #fff;
$bg-color-banner:#e8e8e8;
$bg-collor-details: #cdcdcc;
$bg-colors-buttons:#f16d7f;
$bg-colors-advertising:#222224;
$hover-bg-ping-buttons:#fff;
$hover-color-ping-buttons: #f16d7f;
$hover-color-border:#f16d7f;
$color-border: #e6e6e6;
$color-text:#f16d7f;
$widh-conteiner: 1140px;
$font-family: 'Lato';
$scale-hover: 1.05;
$transition-time: .2s;